.container {
    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
    height: 70%;
    border-radius: 5%;
    word-wrap: break-word;
    border: 3px solid rgba(215, 168, 49, 0.651);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.Label {
    position: relative;
    top: 20%;
    left: 8%;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

.Result {
    margin-top: 2%;
    font-size: 250%;
}

.btn {
    position: relative;
    top: 20%;
    left: 6.5%;
    width: 30%;
    height: 7.5%;
    border-radius: 10px;
    border: transparent;
    color: white;
    font-size: 125%;
    font-weight: bolder;
    background-color: rgb(51, 51, 51);
    margin-bottom: 1%;
}

.btn:hover {
    background-color: rgb(255, 106, 0);
    color: black;
}

.btn:active {
    background-color: yellow;
    color: black;
}