.container {
    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
    height: 70%;
    border-radius: 5%;
    border: 3px solid rgba(215, 168, 49, 0.651);
}

.backgroundFocus {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(137, 137, 137, 0.25);
    z-index: 99;
}

.Calendar {
    position: absolute;
    left: 6.5%;
    top: 33%;
    width: 50%;
    height: 40%;
    background-color: rgba(235, 215, 163, 0.82);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    display: none;
    opacity: 0;
    z-index: 100;
}

.DateContainer {
    position: relative;
    top: 6%;
    width: 100%;
    height: 70%;
    display: grid;
    font-size: large;
    font-weight: 4000;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 0.1%;
    row-gap: 0.1%;
    z-index: 101;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.btn {
    position: relative;
    top: 20%;
    left: 6.5%;
    width: 30%;
    height: 7.5%;
    border-radius: 10px;
    border: transparent;
    color: white;
    font-size: 125%;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    margin-bottom: 1%;
}

.btn:hover {
    background-color: rgb(255, 106, 0);
    color: black;
}

.btn:active {
    background-color: yellow;
    color: black;
}

.Datebtn {
    grid-row: inherit;
    position: relative;
    font-size: 75%;
    background-color: transparent;
    border: none;
    font-weight: bolder;
}

.Datebtn-overLimit {
    color: gray;
}

.Datebtn:hover {
    background-color: rgba(255, 255, 255, 0.164);
    cursor: pointer;
}

.DateLabel {
    grid-row: 1;
    position: relative;
    font-size: 75%;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}

.Monthbtn {
    position: relative;
    left: 7%;
    top: 3%;
    background-color: transparent;
    border: transparent;
    font-weight: bolder;
    font-size: 140%;
}

.Monthbtn:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

hr {
    background-color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 1%;
    border: transparent;
}

.Date-Selected {
    background-color: rgba(255, 255, 255, 0.388);
}

.CalenderImg {
    position: relative;
    background-size: 10px;
    left: 10%;
    top: 10%;
}

.choiceContainer {
    position: absolute;
    top: -50%;
    left: 10%;
    width: 20%;
    height: 40%;
    background-color: transparent;
    border: 1px solid black;
    z-index: 102;
}

.choiceBtn {
    background-color: rgba(97, 81, 72, 0.916);
    position: relative;
    color: rgb(246, 195, 102);
    font-weight: 900;
    cursor: pointer;
    backdrop-filter: blur(2px);
    border: transparent;
    width: 100%;
}

.choiceBtn:hover {
    background-color: rgba(122, 103, 92, 0.916);
}

.choiceBtn:active {
    background-color: rgba(141, 91, 63, 0.916);
}

.yearChoiceContainer {
    position: absolute;
    top: -49.5%;
    left: 30%;
    width: 20%;
    height: 120%;
    background-color: red;
    border: transparent;
    z-index: 102;
    overflow-y: scroll;
    overflow-x: hidden;
}

.choiceBtn-selected {
    background-color: rgba(189, 189, 189, 0.916);
    color: black;
}

.Calendar-Appear-Animation {
    animation: Calendar-Appear-Animation 300ms ease-out forwards;
}

.Calendar-Disappear-Animation {
    animation: Calendar-Disappear-Animation 300ms ease-in forwards;
}

@keyframes Calendar-Appear-Animation {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes Calendar-Disappear-Animation {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-10%);
        opacity: 0;
    }
}