* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
    height: 70%;
    border-radius: 5%;
    border: 3px solid rgba(215, 168, 49, 0.651);
}

.Calendar {
    position: absolute;
    width: 50%;
    height: 40%;
    background-color: rgba(235, 215, 163, 0.82);
    border-radius: 10px;
    display: none;
    opacity: 0;
}

.DateContainer {
    position: relative;
    top: 6%;
    width: 100%;
    height: 70%;
    display: grid;
    font-size: large;
    font-weight: 4000;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 0.1%;
    row-gap: 0.1%;
}

#_1 {
    position: absolute;
    left: 6.5%;
    top: 33%;
}

#_2 {
    position: absolute;
    left: 6.5%;
    top: 47%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.Label {
    position: relative;
    top: 20%;
    left: 8%;
    color: white;
    margin-bottom: 1%;
}

.btn {
    position: relative;
    top: 20%;
    left: 6.5%;
    width: 30%;
    height: 7.5%;
    border-radius: 10px;
    border: transparent;
    color: white;
    font-size: 125%;
    font-weight: bolder;
    background-color: rgb(51, 51, 51);
    margin-bottom: 1%;
}

.btn:hover {
    background-color: rgb(255, 106, 0);
    color: black;
}

.btn:active {
    background-color: yellow;
    color: black;
}

.Datebtn {
    grid-row: inherit;
    position: relative;
    font-size: 75%;
    background-color: transparent;
    border: none;
    font-weight: bolder;
}

.Datebtn-overLimit {
    color: gray;
}

.Datebtn:hover {
    background-color: rgba(255, 255, 255, 0.164);
    cursor: pointer;
}

.DateLabel {
    grid-row: 1;
    position: relative;
    font-size: 75%;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}

.Monthbtn {
    position: relative;
    left: 7%;
    top: 3%;
    background-color: transparent;
    border: transparent;
    font-weight: bolder;
    font-size: 140%;
}

.Monthbtn:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

hr {
    background-color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 1%;
    border: transparent;
}

.Date-Selected {
    background-color: rgba(255, 255, 255, 0.388);
}

.Calendar-Appear-Animation {
    animation: Calendar-Appear-Animation 300ms ease-out forwards;
}

.Calendar-Disappear-Animation {
    animation: Calendar-Disappear-Animation 300ms ease-in forwards;
}

.moveUp {
    position: relative;
    top: 100%;
    animation: moveUp 100ms ease-in-out forwards;
}

.smaller {
    animation: smaller 100ms ease-in-out forwards;
}

.shake {
    animation: shake 200ms ease-in-out;
}

.delayAC {
    animation: delayAC 1s ease-in-out forwards;
}

@keyframes Calendar-Appear-Animation {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes Calendar-Disappear-Animation {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-10%);
        opacity: 0;
    }
}

@keyframes moveUp {
    0% {
        translate: 0% 100%;
        font-size: 20px;
    }
    100% {
        translate: 0% -20%;
        font-size: 40px;
    }
}

@keyframes smaller {
    0% {
        translate: 0% 50%;
        font-size: 40px;
        color: white;
    }
    100% {
        translate: 0% -25%;
        color: gray;
        font-size: 20px;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes delayAC {
    10% {
        background-color: rgb(255, 115, 0);
    }
    20% {
        background-color: gray;
    }
    30% {
        background-color: rgb(255, 115, 0);
    }
    40% {
        background-color: gray;
    }
    50% {
        background-color: rgb(255, 115, 0);
    }
    60% {
        background-color: gray;
    }
    70% {
        background-color: rgb(255, 115, 0);
    }
    80% {
        background-color: gray;
    }
    100% {
        background-color: rgb(255, 115, 0);
    }
}


/* MENU */


/* CUSTOM SELECT TAG */

.combo-box {
    position: absolute;
    text-align: center;
    left: 60%;
    top: 10%;
    width: 35%;
    height: 10%;
    background-color: rgb(255, 183, 48);
    border-radius: 10px;
}

.combo-box-label {
    padding: 5.5%;
    font-size: medium;
    font-weight: bolder;
}

.combo-box:hover {
    background-color: rgb(253, 188, 68);
}

.choice {
    position: relative;
    width: 100%;
    height: 40%;
    padding-top: 3%;
}

.choice-container {
    position: relative;
    left: 60%;
    top: -8%;
    width: 35%;
    height: 20%;
    background-color: rgb(241, 193, 103);
    color: black;
    margin-top: -2%;
    padding-top: 1%;
    font-weight: bolder;
    font-size: 105%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.choice:hover {
    background-color: rgb(247, 212, 147);
}

.combo-box-arrow {
    position: absolute;
    left: 93%;
    bottom: 35%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
}

.combo-box-arrow-selecting {
    position: absolute;
    left: 93%;
    bottom: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: transparent transparent black transparent;
}

.CalenderImg {
    position: relative;
    background-size: 10px;
    left: 10%;
    top: 10%;
}


/* Custome ScrollBar */


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #000000;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.MenuType {
    position: relative;
    text-align: center;
    top: 12.5%;
    width: 100%;
    height: 5%;
    color: rgb(219, 154, 23);
    font-size: large;
    font-weight: bolder;
    font-size: 150%;
    background-color: transparent;
    border: transparent;
    margin-bottom: 5%;
}

.MenuIcon {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 10px;
}

.MenuIcon :hover {
    animation: MenuIconAnim 1s ease-in-out forwards;
}

.MenuList {
    position: absolute;
    left: -20%;
    width: 15%;
    height: 100%;
    background-color: black;
    border: 3px solid orange;
    border-radius: 10px;
    opacity: 1;
    overflow-y: scroll;
}

.MenuListMoveIn {
    animation: MenuListMoveIn 300ms ease-in forwards;
}

.Menubtn {
    position: relative;
    top: 12.5%;
    width: 100%;
    height: 5%;
    color: white;
    font-size: large;
    font-weight: bolder;
    font-size: 125%;
    background-color: transparent;
    border: transparent;
    margin-bottom: 5%;
}

.Menubtn:hover {
    background-color: rgba(255, 255, 255, 0.094);
    animation: MenuButtonAnim 300ms ease-in-out forwards;
}

.Menubtn:active {
    background-color: rgba(255, 255, 255, 0.37);
    animation: MenuButtonAnim 300ms ease-in-out forwards;
}

.MenuListMoveOut {
    animation: MenuListMoveOut 300ms ease-in forwards;
}

@keyframes MenuIconAnim {
    33% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes MenuListMoveIn {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(125%);
    }
}

@keyframes MenuListMoveOut {
    0% {
        transform: translateX(125%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes MenuButtonAnim {
    100% {
        border-bottom: 1px solid orange;
    }
}

.MenuListStayActive {
    animation: MenuListStayActive 200ms ease-in-out forwards;
}

@keyframes MenuListStayActive {
    100% {
        background-color: gray;
        color: black;
    }
}