* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    left: 15%;
    top: 10%;
    width: 70%;
    height: 82.5%;
    border-radius: 5%;
    border: 3px solid rgba(215, 168, 49, 0.651);
}

.NumberContainer {
    position: absolute;
    left: 6.5%;
    top: 5%;
    width: 85.5%;
    height: 30%;
    text-align: right;
    color: white;
    border-radius: 10px;
    border: 2px solid rgba(109, 103, 11, 0.386);
}

.ModeBtn {
    position: relative;
    top: 25%;
    width: 100%;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 100%;
    text-align: left;
    padding-left: 8%;
}

.ModeBtn:hover {
    background-color: rgba(106, 105, 105, 0.5);
}

.ModeBtn:active {
    background-color: rgba(106, 105, 105, 0.9);
}

.ModeBtn-StayActive {
    background-color: rgba(106, 105, 105, 0.6);
}

.ModeBtnLabel {
    position: absolute;
    text-align: left;
    left: 2%;
}

#ModeBtnLabelHex {
    top: 51%;
}

#ModeBtnLabelDec {
    top: 61%;
}

#ModeBtnLabelOct {
    top: 71%;
}

#ModeBtnLabelBin {
    top: 81%;
}

.btn {
    position: relative;
    top: 40%;
    left: 6.5%;
    width: 16.82%;
    height: 7.5%;
    border-radius: 10px;
    border: transparent;
    color: white;
    font-size: 125%;
    font-weight: bolder;
    background-color: rgb(51, 51, 51);
    margin-bottom: 1%;
}

.btn:hover {
    background-color: rgb(255, 106, 0);
    color: black;
}

.btn:active {
    background-color: yellow;
    color: black;
}

#textNumber {
    position: relative;
    font-weight: 30px;
    font-size: 40px;
    top: 25%;
    right: 5%;
}

#saveNumber {
    position: absolute;
    font-weight: 30px;
    font-size: 20px;
    color: rgb(165, 165, 165);
    top: 5%;
    right: 5%;
}

.op {
    background-color: #555;
}

.equal {
    background-color: orange;
}

.disable-button {
    pointer-events: none;
    color: rgba(128, 128, 128, 0.71);
    background-color: rgba(46, 46, 46, 0.726);
}

.moveUp {
    position: relative;
    top: 100%;
    animation: moveUp 100ms ease-in-out forwards;
}

.smaller {
    animation: smaller 100ms ease-in-out forwards;
}

.shake {
    animation: shake 200ms ease-in-out;
}

.delayAC {
    animation: delayAC 1s ease-in-out forwards;
}

@keyframes moveUp {
    0% {
        translate: 0% 100%;
        font-size: 20px;
    }
    100% {
        translate: 0% -20%;
        font-size: 40px;
    }
}

@keyframes smaller {
    0% {
        translate: 0% 50%;
        font-size: 40px;
        color: white;
    }
    100% {
        translate: 0% -25%;
        color: gray;
        font-size: 20px;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes delayAC {
    10% {
        background-color: rgb(255, 115, 0);
    }
    20% {
        background-color: gray;
    }
    30% {
        background-color: rgb(255, 115, 0);
    }
    40% {
        background-color: gray;
    }
    50% {
        background-color: rgb(255, 115, 0);
    }
    60% {
        background-color: gray;
    }
    70% {
        background-color: rgb(255, 115, 0);
    }
    80% {
        background-color: gray;
    }
    100% {
        background-color: rgb(255, 115, 0);
    }
}


/* MENU */


/* CUSTOM SELECT TAG */

.custom-select {
    position: relative;
    width: 25%;
    height: 10%;
    left: 70%;
    top: 5%;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: rgba(222, 155, 101, 0.806);
    border-radius: 10px;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 45%;
    right: 5%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 30%;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(234, 141, 49, 0.655) transparent;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: rgba(196, 111, 75, 0.705);
    top: 110%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 10px;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.53);
    border-radius: 10px;
}


/* Custome ScrollBar */


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #000000;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.MenuType {
    position: relative;
    text-align: center;
    top: 12.5%;
    width: 100%;
    height: 5%;
    color: rgb(219, 154, 23);
    font-size: large;
    font-weight: bolder;
    font-size: 150%;
    background-color: transparent;
    border: transparent;
    margin-bottom: 5%;
}

.MenuIcon {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 10px;
}

.MenuIcon :hover {
    animation: MenuIconAnim 1s ease-in-out forwards;
}

.MenuList {
    position: absolute;
    left: -20%;
    width: 15%;
    height: 100%;
    background-color: black;
    border: 3px solid orange;
    border-radius: 10px;
    opacity: 1;
    overflow-y: scroll;
}

.MenuListMoveIn {
    animation: MenuListMoveIn 300ms ease-in forwards;
}

.Menubtn {
    position: relative;
    top: 12.5%;
    width: 100%;
    height: 5%;
    color: white;
    font-size: large;
    font-weight: bolder;
    font-size: 125%;
    background-color: transparent;
    border: transparent;
    margin-bottom: 5%;
}

.Menubtn:hover {
    background-color: rgba(255, 255, 255, 0.094);
    animation: MenuButtonAnim 300ms ease-in-out forwards;
}

.Menubtn:active {
    background-color: rgba(255, 255, 255, 0.37);
    animation: MenuButtonAnim 300ms ease-in-out forwards;
}

.MenuListMoveOut {
    animation: MenuListMoveOut 300ms ease-in forwards;
}

@keyframes MenuIconAnim {
    33% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes MenuListMoveIn {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(125%);
    }
}

@keyframes MenuListMoveOut {
    0% {
        transform: translateX(125%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes MenuButtonAnim {
    100% {
        border-bottom: 1px solid orange;
    }
}

.MenuListStayActive {
    animation: MenuListStayActive 200ms ease-in-out forwards;
}

@keyframes MenuListStayActive {
    100% {
        background-color: gray;
        color: black;
    }
}